@import "tailwindcss";

/* Custom reusable classes */

.wrapper {
    @apply max-w-7xl mx-auto px-6 py-12;
}

.heading {
    @apply text-4xl md:text-6xl font-bold text-center leading-tight;
}

.text-gradient {
    @apply bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent;
}

/* Movie Card styles */
.movie-card {
    @apply bg-gray-800 p-4 rounded-xl shadow-md overflow-hidden flex flex-col;
}

.movie-card img {
    @apply rounded-lg object-cover w-full h-[300px];
}

.movie-card h3 {
    @apply text-white font-bold text-lg line-clamp-1;
}

.movie-card p {
    @apply text-gray-300 text-sm;
}
